*.iml
/local.properties
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.gradle/8.0
.idea/shelf
.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
.idea
.idea/misc.xml
